#!/bin/bash

# Fill in the blanks

# Set these before running directus
export DIRECTUS_USER=''
export DIRECTUS_PASSWORD=''
export DIRECTUS_ROOT_PASSWORD=''
export DIRECTUS_DATABASE=''

# Get the api key and URL from directus already running
export DIRECTUS_API_KEY=''
export DIRECTUS_API_URL=''
export DIRECTUS_FILES_URL=''

export PORT=8081
export HOST=localhost
export API_SECRET_KEY=

export REDIS_HOST=localhost
export REDIS_PORT=6379
export REDIS_URL=redis://$REDIS_HOST:$REDIS_PORT

export CACHE_DURATION=600000 # 10*60*1000 = 10 minutes
export CACHE_GENERATE_TIMEOUT=1000 # 1000 ms
